In [1]:
import joblib
from dask.distributed import Client
import matplotlib.pyplot as plt

# Start and connect to local client
client = Client(n_workers=2)

# client = Client("scheduler-address:8786")  # connecting to remote cluster

In [2]:
# classifier = GridSearchCV(decision_tree, cv = 10, param_grid = param_grid, n_jobs = -1)
# with joblib.parallel_backend("dask"):
#     # model.fit here
#     classifier.fit(X_train, y_train)

In [3]:
import dask.dataframe
watch_gyro_df = dask.dataframe.read_csv('wisdm-dataset/raw/watch/gyro/*.txt', sep = ',', header = None)
watch_gyro_df = watch_gyro_df.rename(columns={0:'user', 1:'activity', 2:'timestamp', 3:'x_coord', 4:'y_coord', 5:'z_coord'})
watch_gyro_df['z_coord'] = watch_gyro_df['z_coord'].str.replace(";","")
watch_gyro_df.head()

   user activity       timestamp   x_coord   y_coord        z_coord
0  1600        A  90426757696641  0.314944 -1.022277     -0.3099616
1  1600        A  90426807196641  0.387382 -0.618541   -0.048971802
2  1600        A  90426856696641  0.070999 -0.209480     -0.1959783
3  1600        A  90426906196641  0.037975  0.254976     -0.1565635
4  1600        A  90426955696641  0.073129  0.719431  -0.0010349044

In [4]:
# print(len(watch_gyro_df))
# watch_gyro_df.head()

In [5]:
# watch_gyro_df.shape[0].compute()

In [6]:
watch_accel_df = dask.dataframe.read_csv('wisdm-dataset/raw/watch/accel/*.txt', sep = ',', header = None)
watch_accel_df = watch_accel_df.rename(columns={0:'user', 1:'activity', 2:'timestamp', 3:'x_coord', 4:'y_coord', 5:'z_coord'})
watch_accel_df['z_coord'] = watch_accel_df['z_coord'].str.replace(";","")
print(len(watch_accel_df))
watch_accel_df.head()

3777046

   user activity       timestamp   x_coord   y_coord    z_coord
0  1600        A  90426708196641  7.091625 -0.591667   8.195502
1  1600        A  90426757696641  4.972757 -0.158317  6.6967316
2  1600        A  90426807196641  3.253720 -0.191835   6.107758
3  1600        A  90426856696641  2.801216 -0.155922   5.997625
4  1600        A  90426906196641  3.770868 -1.051354   7.731027

In [7]:
phone_gyro_df = dask.dataframe.read_csv('wisdm-dataset/raw/phone/gyro/*.txt', sep = ',', header = None)
phone_gyro_df = phone_gyro_df.rename(columns={0:'user', 1:'activity', 2:'timestamp', 3:'x_coord', 4:'y_coord', 5:'z_coord'})
phone_gyro_df['z_coord'] = phone_gyro_df['z_coord'].str.replace(";","")
print(len(phone_gyro_df))
phone_gyro_df.head()

3608635

   user activity        timestamp   x_coord   y_coord      z_coord
0  1600        A  252207918580802 -0.853210  0.297226    0.8901825
1  1600        A  252207968934806 -0.875137  0.015472   0.16223145
2  1600        A  252208019288809 -0.720169  0.388489  -0.28401184
3  1600        A  252208069642813 -0.571640  1.227402   -0.2416687
4  1600        A  252208119996817 -0.380493  1.202835  -0.21313477

In [8]:
phone_accel_df = dask.dataframe.read_csv('wisdm-dataset/raw/phone/accel/*.txt', sep = ',', header = None)
phone_accel_df = phone_accel_df.rename(columns={0:'user', 1:'activity', 2:'timestamp', 3:'x_coord', 4:'y_coord', 5:'z_coord'})
phone_accel_df['z_coord'] = phone_accel_df['z_coord'].str.replace(";","")
print(len(phone_accel_df))
phone_accel_df.head()

4804403

   user activity        timestamp   x_coord    y_coord     z_coord
0  1600        A  252207666810782 -0.364761   8.793503   1.0550842
1  1600        A  252207717164786 -0.879730   9.768784   1.0169983
2  1600        A  252207767518790  2.001495  11.109070    2.619156
3  1600        A  252207817872794  0.450623  12.651642  0.18455505
4  1600        A  252207868226798 -2.164352  13.928436  -4.4224854

In [9]:
# plt.plot(watch_gyro_df['timestamp'].compute()[:1000], watch_gyro_df['x_coord'].compute()[:1000])
# plt.show()

In [10]:
client.shutdown()

distributed.client - ERROR - Failed to reconnect to scheduler after 10.00 seconds, closing client
_GatheringFuture exception was never retrieved
future: <_GatheringFuture finished exception=CancelledError()>
asyncio.exceptions.CancelledError